
<table class="table">
  <tbody>
    <tr>
      <td>Diagonal</td>
      <td>{{ product.diagonal }}</td>
    </tr>
   <tr>
      <td>Display type</td>
      <td>{{ product.display }}</td>
    </tr>
   <tr>
      <td>Resolution</td>
      <td>{{ product.resolution }}</td>
    </tr>
   <tr>
      <td>RAM</td>
      <td>{{ product.ram }}</td>
    </tr>
   <tr>
      <td>Sd</td>
       {% if product.sd%}
        <td>Yes</td>
       {% else %}
        <td>No</td>
       {% endif %}
    </tr>
   <tr>
      <td>Battery working time</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
  <tr>
      <td>Sd capacity</td>
      <td>{{ product.sd_volume }}</td>
    </tr>
  <tr>
      <td>Main Camera</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>
  <tr>
      <td>Frontal Camera</td>
      <td>{{ product.frontal_cam_mp }}</td>
    </tr>
  </tbody>
</table>
